html, body {
  font-family: 'Source Sans Pro', 'Clear Sans', 'Helvetica Neue', sans-serif;
}

.list-graph {
  margin: 1em auto;
  border: 1px solid #efefef;
}

.list-graph > svg {
  display: block;
  width: 800px;
  height: 200px;
}
