{
  env: {
    browser: true,
    es6: true
  },
  extends: "airbnb/base",
  parser: "babel-eslint",
  rules: {
    comma-dangle: [1, "never"],
    func-names: 0,
    indent: [
      2, 2, { VariableDeclarator: { var: 2, let: 2, const: 3}, SwitchCase: 1 }
    ],
    no-console: 1,
    no-new: 0,
    no-param-reassign: [2, { props: false }],
    no-unused-vars: [2, { vars: "all", "args": "after-used" }],
    quotes: [2, "single", "avoid-escape"],
    semi: [2, "always"],
    space-before-function-paren: [2, "always"],
    keyword-spacing: 2,
    strict: [2, "global"],
    // String templates are about 100x slower!!!
    // http://stackoverflow.com/a/29083467/981933
    prefer-template: 0,
    // Temporary issue:
    // https://github.com/eslint/eslint/issues/5074#issuecomment-189509063
    prefer-const: 1
  }
}
