.list-graph {
  position: relative;
  display: block;

  .base {
    transition: opacity $transition-fast $ease-in-out-cubic;
  }

  .scroll-container {
    /* `fill:none;` doesnt work because this avoids drawing the element and will
     * engender the same behavior as if the element is ommited. See why this
     * element is actually needed below.
     */
    fill-opacity: 0;
    transition: all $transition-fast $ease-in-out-cubic;
  }

  .column.active .scroll-container {
    fill-opacity: 0.05;
  }

  .sorting {
    opacity: 0.33;
  }

  .hidden {
    display: none;
  }

  .hidden-default {
    display: none;

    &.shown {
      display: display;
    }
  }

  .invisible-default {
    opacity: 0;

    &.visible,
    > .visible {
      opacity: 1;
    }
  }

  .ease-all {
    transition: all $transition-fast $ease-in-out-cubic;
  }

  &.unselectable {
    * {
      cursor: default;
    }

    .label {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &.dragging * {
    cursor: move !important;
  }

  &.less-animations * {
    transition: none !important;
  }

  .is-mirrored-horizontally {
    transform: scale(1, -1);
  }
}
