.list-graph {
  position: relative;
  display: block;

  .base {
    transition: opacity $transitionFast $easeInOutCubic;
  }

  .top-bar {
    position: relative;
    height: 1.5rem;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
  }

  .top-bar .control-switch {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    background: #efefef;

    &:hover {
      color: $colorHighlightBlue;
      cursor: pointer;
    }
  }

  .top-bar .control-switch svg {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    top: 50%;
    left: 50%;
    transition: all $transitionFast $easeInOutCubic;
  }

  .top-bar .control-switch .switch-arrow {
    fill: none;
    stroke: #000;
    stroke-width: 1;
  }

  .top-bar.details .control-switch svg {
    transform: scale(1, -1);
  }

  .top-bar .global-controls,
  .top-bar .local-controls,
  .top-bar .controls {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .top-bar .global-controls,
  .top-bar .local-controls {
    width: 100%;
    white-space: nowrap;
    transition: margin $transitionFast $easeInOutCubic;
  }

  .top-bar.details .global-controls {
    margin-top: -1.5rem;
  }

  .top-bar .controls {
    display: inline-block;
    white-space: normal;
    box-shadow: -1px 0 0 0 #efefef;
  }

  .top-bar .control-btn {
    top: 0;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #666;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all $transitionFast $easeInOutCubic;

    &:hover,
    &.active {
      color: #000;
    }

    &:hover {
      background: #efefef;
    }

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }

    .label {
      position: relative;
    }

    &.semi-active .label,
    &.semi-active .expandable-label .letter {
      text-decoration: underline;
    }

    &.inactive {
      cursor: default !important;
      opacity: 0;
    }
  }

  .top-bar .global-controls .control-btn .wrapper {
    position: relative;
    margin: 0 1rem;
  }

  .top-bar .global-controls .control-btn {
    position: relative;
    float: left;
    width: 16.666666667%;
    box-shadow: 1px 0 0 0 #efefef;
  }

  .top-bar .controls .control-btn {
    position: absolute;
  }

  .top-bar .controls .expandable-label {
    position: relative;
  }

  .top-bar .controls .expandable-label .letter {
    display: inline-block;
    float: left;
    max-width: 0;
    transition: all $transitionFast $easeInOutCubic;
    overflow: hidden;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .top-bar .controls .control-btn.active .letter {
    text-decoration: underline;
  }

  .top-bar .controls .expandable-label .abbr {
    opacity: 1;
  }

  .top-bar .controls .expandable-label .abbr,
  .top-bar .controls li:hover .expandable-label .letter {
    max-width: 1rem;
  }

  .top-bar .control-btn [class^='icon-'],
  .top-bar .control-btn [class*=' icon-'] {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 1rem;
    height: 1rem;
    transition: all $transitionFast $easeInOutCubic;
  }

  .top-bar .control-btn .icon-zoom-out {
    width: 0.85rem;
    height: 0.85rem;
    padding: 0.075rem;
  }

  .top-bar .controls .icon-gear {
    display: none;
    top: 0.35rem;
    right: 0.35rem;
    width: 0.8rem;
    height: 0.8rem;
  }

  .top-bar .controls .toggle {
    left: 0;
  }

  .top-bar .controls .options {
    right: 0;
  }

  .top-bar .sort-precision:hover,
  .top-bar .sort-recall:hover,
  .top-bar .sort-name:hover {
    z-index: 2;
    color: #fff;
    background: $colorHighlightRed;
    transition: all $transitionFast $easeInOutCubic, color $transitionLightningFast $easeInOutCubic;

    [class^='icon-'],
    [class*=' icon-'] {
      color: #fff;
    }
  }

  .top-bar .controls .sort-precision:hover {
    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.25), 1px 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .top-bar .controls .sort-recall:hover {
    box-shadow: -2px 0 3px 0 rgba(0, 0, 0, 0.25), -1px 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .scroll-container {
    /* `fill:none;` doesnt work because this avoids drawing the element and will
     * engender the same behavior as if the element is ommited. See why this
     * element is actually needed below.
     */
    fill-opacity: 0;
    transition: all $transitionFast $easeInOutCubic;
  }

  .column.active .scroll-container {
    fill-opacity: 0.05;
  }

  .scrollbar {
    fill: #000;
    fill-opacity: 0;
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 0;
  }

  .zoomedOut .scrollbar {
    fill-opacity: 0 !important;
  }

  .scrollbar.ready {
    transition: all $transitionFast $easeInOutCubic;
  }

  &:hover .scrollbar {
    fill-opacity: 0.15;
    stroke-opacity: 0.33;
  }

  &:hover .column:hover .scrollbar {
    fill-opacity: 0.33;
    stroke-opacity: 0.66;
  }

  &:hover .scrollbar:hover {
    fill-opacity: 0.66;
    stroke-opacity: 1;
  }

  .scrollbar.active {
    fill-opacity: 1 !important;
  }

  .node {
    transition: all $transitionFast $easeInOutCubic;
  }

  .node .bg {
    fill: #fff;
    transition: all $transitionFast $easeInOutCubic;
  }

  .node .bg-extension {
    fill: #fff;
    stroke: #808080;
    stroke-width: 2px;
    opacity: 0;
    transition: all $transitionFast $easeInOutCubic;
  }

  .node.hovering-directly .bg-extension,
  .node.active .bg-extension,
  .node.rooted .bg-extension,
  .node.animating .bg-extension {
    opacity: 1;
  }

  .node.active .bg-extension,
  .node.rooted .bg-extension,
  .node.animating .bg-extension {
    fill: #808080;
  }

  .node .bg-border {
    fill: $colorHighlightRed;
    stroke: $colorHighlightRed;
    stroke-width: 6px;
    opacity: 0;
  }

  .node.lock-directly .bg-border,
  .node.animating .bg-border {
    opacity: 1;
  }

  .node.lock-indirectly .bg-border {
    opacity: 0.66;
  }

  .node.focus-indirectly .bg-border {
    opacity: 0.5;
  }

  .node .border {
    fill: none;
    stroke: #e5e5e5;
    stroke-width: 2px;
    transition: all $transitionFast $easeInOutCubic;
  }

  .column.active .node .border {
    stroke: #bfbfbf;
  }

  .node.clone .border {
    stroke-dasharray: 5, 2;
  }

  .node.hovering-directly,
  .node.hovering-indirectly {
    cursor: pointer;
  }

  .node.hovering-directly .bg {
    fill: #000;
  }

  .node.focus-directly .bg {
    fill: $colorHighlightRed;
  }

  .node.hovering-directly .border,
  .node.hovering-indirectly .border,
  .column.active .node.hovering-directly .border,
  .column.active .node.hovering-indirectly .border {
    stroke: #000;
  }

  .node.focus-directly .border,
  .column.active .node.focus-directly .border {
    stroke: $colorHighlightRed;
  }

  .node.highlight-bar .border {
    stroke-opacity: 0;
  }

  .link {
    fill: none;
    transition: all $transitionFast $easeInOutCubic;

    .link-direct {
      stroke: #000;
      stroke-opacity: 0.2;
      stroke-width: 2;
    }

    &.hovering .link-direct {
      stroke-opacity: 0.75;
      stroke-width: 4;
    }

    &.lock .link-direct {
      stroke-opacity: 0.75;
    }

    &.focus .link-direct {
      stroke-opacity: 0.5;
    }

    .link-bg {
      stroke: $colorHighlightRed;
      stroke-opacity: 0;
      stroke-width: 6;
    }

    &.lock .link-bg {
      stroke-opacity: 0.75;
    }

    &.focus .link-bg {
      stroke-opacity: 0.5;
    }

    &.lock.hovering .link-bg {
      stroke-width: 8;
    }
  }

  .node .label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    font-size: 12px;
    line-height: 12px;
    transition: all $transitionFast $easeInOutCubic;

    // @include multiline-ellipsis(20px, 12px, 16px);
  }

  .column.active .node .label {
    color: #333;
  }

  .node.hovering-directly .label,
  .node.focus-directly .label,
  .column.active .node.hovering-directly .label,
  .column.active .node.focus-directly .label {
    color: #fff;
  }

  .node.hovering-indirectly .label {
    color: #000;
  }

  .node.highlight-bar .label {
    color: #000;
  }

  .node.highlight-label .label,
  .column.active .node.highlight-label .label {
    color: $colorHighlightRed;
    text-shadow: 0 0 3px transparentize($colorHighlightRed, 0.75);
  }

  .node .focus-controls .bg {
    fill: #fff;
    fill-opacity: 0;
    stroke: #fff;
    stroke-width: 1;
    stroke-opacity: 0;
  }

  .node .focus-controls .hover-helper {
    fill-opacity: 0;
  }

  .node:hover .focus-controls .bg {
    fill-opacity: 0.66;
    stroke-opacity: 0.66;
  }

  .node .focus-controls:hover .bg {
    fill-opacity: 0.85;
    stroke-opacity: 1;
  }

  .node .focus-controls.active .bg,
  .node.animating .focus-controls .bg {
    fill-opacity: 0 !important;
    stroke-opacity: 0 !important;
  }

  .node .focus-controls:hover .icon {
    color: $colorHighlightRed;
  }

  .node.active .root .icon,
  .node.active .query .icon,
  .node .focus-controls.active .icon,
  .node .focus-controls.active:hover .icon,
  .node.active .focus-controls:hover .icon {
    color: #fff;
  }

  .node.query-and .query .state-inactive,
  .node.query-or .query .state-inactive,
  .node.query-not .query .state-inactive {
    opacity: 0 !important;
  }

  .node:hover .focus-controls.inactive .state-inactive,
  .node .focus-controls.active .state-active,
  .node.query-and .focus-controls .state-and-or,
  .node.query-or .focus-controls .state-and-or,
  .node.query-not .focus-controls .state-not {
    opacity: 1;
  }

  .node .focus-controls .state-and-or use {
    transition: all $transitionFast $easeInOutCubic;
    transform-origin: 50% 50%;
  }

  .node.query-and .focus-controls .state-and-or use {
    transform: scale(1, -1);
  }

  .bar-border,
  .bar-magnitude {
    transition: all $transitionFast $easeInOutCubic;
  }

  .bar-magnitude {
    fill: #000;
    fill-opacity: 0.1;
    shape-rendering: crispEdges;
  }

  .column.active .bar-magnitude {
    fill-opacity: 0.15;
  }

  .node.focus-directly .bar-magnitude {
    fill-opacity: 0.2;
  }

  .bar-indicator {
    fill: $colorHighlightRed;
    opacity: 0;
    transition: opacity $transitionFast $easeInOutCubic;
  }

  .bar.active .bar-magnitude {
    shape-rendering: auto;
  }

  .two-bar .bar-magnitude {
    fill-opacity: 0.05;
  }

  .two-bar .bar.active .bar-magnitude {
    fill-opacity: 0.15;
  }

  .two-bar .column.active .bar.active .bar-magnitude {
    fill-opacity: 0.25;
  }

  .bar-border {
    fill: none;
    stroke: mix(lighten($colorHighlightRed, 20%), #fff, 25%);
    stroke-width: 2px;
    stroke-opacity: 0;
  }

  .bar.highlight .bar-border {
    stroke-opacity: 1;
  }

  .node.hovering-directly .bar-magnitude {
    fill: #404040;
    fill-opacity: 1 !important;
  }

  .node.hovering-directly .bar.active .bar-indicator {
    opacity: 1;
  }

  .node.hovering-indirectly .bar.copy .bar-indicator {
    opacity: 1;
  }

  .bar.highlight .bar-magnitude {
    fill: lighten($colorHighlightRed, 20%);
    fill-opacity: 1 !important;
  }

  .sorting {
    opacity: 0.33;
  }

  .hidden {
    display: none;
  }

  .hidden-default {
    display: none;

    &.shown {
      display: display;
    }
  }

  .invisible-default {
    opacity: 0;

    &.visible,
    > .visible {
      opacity: 1;
    }
  }

  .ease-all {
    transition: all $transitionFast $easeInOutCubic;
  }

  &.unselectable .label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
