.list-graph .top-bar {
  position: relative;
  height: 1.5rem;
  padding-bottom: 1px;
  overflow: hidden;
  box-shadow: inset 0 -1px 0 0 $grey-lighter;

  .control-switch {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    background: $grey-lighter;

    &:hover {
      color: $color-highlight-blue;
      cursor: pointer;
    }
  }

  .control-switch svg {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    margin-left: -4px;
    top: 50%;
    left: 50%;
    transition: all $transition-fast $ease-in-out-cubic;
  }

  .control-switch .switch-arrow {
    fill: none;
  }

  &.details .control-switch svg {
    transform: scale(1, -1);
  }

  .global-controls,
  .local-controls,
  .controls {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .global-controls,
  .local-controls {
    width: 100%;
    white-space: nowrap;
    transition: margin $transition-fast $ease-in-out-cubic;
  }

  .global-controls {
    z-index: 1;
  }

  &.details .global-controls {
    margin-top: -1.5rem;
  }

  .controls {
    display: inline-block;
    white-space: normal;
    box-shadow: -1px 0 0 0 $grey-lighter;
  }

  .control-btn {
    display: block;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #666;
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all $transition-fast $ease-in-out-cubic;

    &:hover,
    &.active {
      color: #000;
    }

    &:hover {
      background: $grey-lighter;
    }

    &.toggle:hover,
    &.options:hover {
      cursor: default;
      background: none;
    }

    &.active {
      font-weight: bold;
      text-decoration: underline;

      &:before {
        position: absolute;
        display: block;
        content: '';
        bottom: -1px;
        left: 0;
        right: 0;
        height: 1px;
        background: transparentize($color-highlight-blue, 0.5);
        box-shadow: 0 0 8px 0 $color-highlight-blue;
        transition: all $transition-fast $ease-in-out-cubic;
      }
    }

    .label {
      position: relative;
    }

    &.semi-active .label,
    &.semi-active .expandable-label .letter {
      text-decoration: underline;
    }

    &.inactive {
      cursor: default !important;
      opacity: 0;
    }
  }

  .global-controls .control-btn {
    position: relative;
    float: left;
    max-width: 16.6667%;
    box-shadow: 1px 0 0 0 $grey-lighter;
  }

  &.details .global-controls .control-btn.active:before {
    opacity: 0;
  }

  .global-controls .control-btn .wrapper {
    position: relative;
    padding: 0 2.25rem 0 0.75rem;
  }

  .controls .control-btn {
    position: absolute;
  }

  .controls .expandable-label {
    position: relative;
  }

  .controls .expandable-label .letter {
    display: inline-block;
    float: left;
    max-width: 0;
    transition: all $transition-fast $ease-in-out-cubic;
    overflow: hidden;
    text-transform: uppercase;
    opacity: 0.8;
  }

  .controls .control-btn.active .letter {
    text-decoration: underline;
  }

  .controls .expandable-label .abbr {
    opacity: 1;
  }

  .controls .expandable-label .abbr,
  .controls li:hover .expandable-label .letter {
    max-width: 1rem;
  }

  .control-btn [class^='icon-'],
  .control-btn [class*=' icon-'] {
    position: absolute;
    top: 0.25rem;
    right: 0.75rem;
    width: 1rem;
    height: 1rem;
    transition: all $transition-fast $ease-in-out-cubic;
  }

  .control-btn .icon-zoom-out {
    width: 0.85rem;
    height: 0.85rem;
    padding: 0.075rem;
  }

  .controls .icon-gear {
    display: none;
    top: 0.35rem;
    right: 0.35rem;
    width: 0.8rem;
    height: 0.8rem;
  }

  .controls .toggle {
    left: 0;
  }

  .controls .options {
    right: 0;
  }

  .sort-precision:hover,
  .sort-recall:hover,
  .sort-name:hover {
    z-index: 2;
    background: mix($color-highlight-blue, $white, 20%);

    &:before {
      background: $color-highlight-blue;
    }
  }

  .controls .sort-precision:hover {
    box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.25), 1px 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  .controls .sort-recall:hover {
    box-shadow: -2px 0 3px 0 rgba(0, 0, 0, 0.25), -1px 0 1px 0 rgba(0, 0, 0, 0.1);
  }
}
