// Bezier curves
$ease-in-out-cubic: cubic-bezier(0.3, 0.1, 0.6, 1);
$ease-in-out-quadric: cubic-bezier(0.2, 0.1, 0.2, 1);

// Transition speeds
$transition-lightning-fast: 0.15s;
$transition-fast: 0.2s;
$transition-semi-fast: 0.25s;
$transition-normal: 0.33s;
$transition-slow: 0.66s;
$transition-slowest: 1s;

// Colors
// General
$color-highlight-blue: #0088ff;
$color-highlight-red: #f23e00;

$black: #000;
$grey-dark: #333;
$grey-semi-dark: #666;
$grey-medium: #808080;
$grey-light: #ccc;
$grey-lighter: #e5e5e5;
$white: #fff;

// Text
$text-color-normal: $grey-semi-dark;
$text-color-semi-highlight: $grey-dark;
$text-color-highlight: $black;
