// Bezier curves
$easeInOutCubic: cubic-bezier(0.3, 0.1, 0.6, 1);
$easeInOutQuadric: cubic-bezier(0.2, 0.1, 0.2, 1);

// Transition speeds
$transitionLightningFast: 0.15s;
$transitionFast: 0.2s;
$transitionSemiFast: 0.25s;
$transitionNormal: 0.33s;
$transitionSlow: 0.66s;
$transitionSlowest: 1s;

// Colors
// General
$colorHighlightBlue: #0088ff;
$colorHighlightRed: #f23e00;
$colorNegativeRed: #e0001c;
$colorPositiveGreen: #60bf00;

// Text
$normalTextColor: #666;
$semiHighlightTextColor: #333;
$highlightTextColor: #000;

// Background
$lightGrey: #e5e5e5;
$mediumGrey: #cccccc;
$darkGrey: #666;
