// Bezier curves
$easeInOutCubic: cubic-bezier(0.3, 0.1, 0.6, 1);
$easeInOutQuadric: cubic-bezier(0.2, 0.1, 0.2, 1);

// Transition speeds
$transitionLightningFast: 0.15s;
$transitionFast: 0.2s;
$transitionSemiFast: 0.25s;
$transitionNormal: 0.33s;
$transitionSlow: 0.66s;
$transitionSlowest: 1s;

// Colors
$colorHighlightBlue: #0088ff;
$colorHighlightRed: #f23e00;
